* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.windows-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 9.375rem;
  margin-top: -3rem;
}

.logo {
  background-color: black;
  height: 13.75rem;
  width: 15rem;
  overflow: hidden;
}

.window-logo {
  height: 5rem;
  width: 5rem;
  -webkit-transform: skew(-18deg);
}

.red-convex {
  position: relative;
  top: -1.125rem;
  left: 3.469rem;
}


.red {
  position: relative;
  top: -2.688rem;
  left: 2.688rem;
  background-color: #FD6807;
}

.red-concave {
  position: relative;
  top: -4.656rem;
  left: 1.844rem;
}

.blue-convex {
  position: relative;
  top: -7.469rem;
  left: 1.55rem;
}

.blue {
  position: relative;
  top: -9rem;
  left: 0.825rem;
  background-color: #4068FD;
}

.blue-concave {
  position: relative;
  top: -11.031rem;
  left: 0rem;
}

.green-concave {
  position: relative;
  top: -23.75rem;
  left: 9.188rem;
  z-index: 2;
}

.green {
  position: relative;
  top: -26.25rem;
  left: 8.313rem;
  background-color: #9CEF09;
  z-index: 1;
}

.green-convex {
  position: relative;
  top: -27.344rem;
  left: 7.5rem;
  z-index: 2;
}

.yellow-concave {
  position: relative;
  top: -30.156rem;
  left: 7.188rem;
  z-index: 1;
}

.yellow {
  position: relative;
  top: -32.656rem;
  left: 6.375rem;
  background-color: #FFD013;
}

.yellow-convex {
  position: relative;
  top: -33.75rem;
  left: 5.563rem;
  z-index: 1;
}

.logo-text {
  color: white;
  position: relative;
  top: -2.188rem;
  left: -3.438rem;
}

.logo-text h1 {
  font-size: 6.25rem;
  height: 5rem;
  display: inline;
}

.logo-text h2 {
  font-size: 3.125rem;
  color: #FD6807;
  display: inline;
  position: relative;
  top: -1.875rem;
}

.logo-text h3 {
  font-size: 1.875rem;
  font-weight: 300;
  height: 1.25rem;
}

.trademark {
  font-size: 0.938rem;
}

.windows-trademark {
  position: relative;
  top: -2.313rem;
}

.microsoft-trademark {
  position: relative;
  top: -0.938rem;
}

.loading-bar {
  height: 1.563rem;
  width: 15.625rem;
  border: 2px solid white;
  margin-top: 4rem;
  border-radius: 0.625rem;
  display: flex;
  overflow: hidden;
}

.loading-component {
  height: 1.25rem;
  width: 0.938rem;
  background: linear-gradient(#4068FD 20%, white 50%, #4068FD 80%);
  margin-left: 0.188rem;
  border-radius: 0.188rem;
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading {
  0% {
    transform: translate(-2.5rem, 0);
  }

  100% {
    transform: translate(15.625rem, 0);
  }
}

.copyrights {
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}

.microsoft-copyright {
  font-size: 1.563rem;
}

.microsoft {
  font-size: 2.5rem;
  font-weight: 900;
}

@media (max-width: 850px) {
  .windows-logo {
    padding-left: 3.125rem;
  }

  .logo {
    height: 6.875rem;
    width: 7.5rem;
  }

  .window-logo {
    height: 2.5rem;
    width: 2.5rem;
  }

  .red-convex {
    top: -0.625rem;
    left: 1.75rem;
  }

  .red {
    top: -1.563rem;
    left: 1.375rem;
  }

  .red-concave {
    top: -2.469rem;
    left: 0.938rem;
  }

  .blue-convex {
    top: -4rem;
    left: 0.75rem;
  }

  .blue {
    top: -4.938rem;
    left: 0.438rem;
  }

  .blue-concave {
    top: -5.938rem;
    left: 0rem;
  }

  .green-concave {
    top: -12.625rem;
    left: 4.688rem;
  }

  .green {
    top: -14rem;
    left: 4.25rem;
  }

  .green-convex {
    top: -14.563rem;
    left: 3.813rem;
  }

  .yellow-concave {
    top: -16.063rem;
    left: 3.75rem;
  }

  .yellow {
    top: -17.438rem;
    left: 3.313rem;
  }

  .yellow-convex {
    top: -18rem;
    left: 2.938rem;
  }

  .logo-text {
    width: 16.25rem;
    top: -1.125rem;
    left: -1.375rem;
  }

  .logo-text h1 {
    font-size: 3.125rem;
    height: 2.5rem;
  }

  .logo-text h2 {
    font-size: 1.563rem;
    top: -1.063rem;
  }

  .logo-text h3 {
    font-size: 0.938rem;
    height: 0.625rem;
  }

  .trademark {
    font-size: 0.625rem;
  }

  .windows-trademark {
    top: -1.25rem;
  }

  .microsoft-trademark {
    top: -0.375rem;
  }

  .loading-bar {
    height: 1.25rem;
    width: 12.5rem;
    margin-top: 3.125rem;
  }

  .loading-component {
    height: 0.938rem;
    width: 0.625rem;
    background: linear-gradient(#4068FD 10%, white 50%, #4068FD 90%);
    margin-left: 0.125rem;
    border-radius: 0.063rem;
  }

  @keyframes loading {
    0% {
      transform: translate(-1.875rem, 0);
    }

    100% {
      transform: translate(12.5rem, 0);
    }
  }

  .copyrights {
    padding: 0.625rem;
  }

  .microsoft-copyright {
    font-size: 0.813rem;
  }

  .microsoft {
    font-size: 1.25rem;
  }

  @media (max-height: 450px) {
    .container {
      height: auto;
    }

    .windows-logo {
      margin-top: 4.375rem;
    }

    .loading-bar {
      margin: 3.125rem 0 5rem;
    }


    .copyrights {
      position: static;
      margin-top: 0.625rem;
    }
  }
}

@media (max-height: 660px) and (min-width: 850px) {
  .container {
    height: auto;
  }

  .windows-logo {
    margin-top: 4.375rem;
  }

  .loading-bar {
    margin: 3.125rem 0 5rem;
  }


  .copyrights {
    position: static;
  }
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}